/* You can add global styles to this file, and also import other style files */
/* body{
    margin: 0;
    padding: 0;
    
    background: url("assets/Images/Background5.jpg");
     background-size: cover;
     color: black;
    font-family: 'Harry Potter', Arial, Helvetica, sans-serif;
    text-align: center;
     
}

h1 {
    color: black;
    font-family: 'Harry Potter', Arial, Helvetica, sans-serif;
    
    font-size: 25px;
    text-align: center;
  } */

  h1 {
    color: black;
    font-family: 'Harry Potter', Arial, Helvetica, sans-serif;
    
    font-size: 250%;
    text-align: center;
  }
  h2, h3 {
    color: black;
    font-family: 'Harry Potter',Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
  }
  body {
    margin: 2em;
    font-family: 'Harry Potter', Arial, Helvetica, sans-serif;
    background-image: url("assets/Images/Background5.jpg");
  }
  body, input[type="text"], button {
    color:black;
    font-family: Cambria, Georgia, serif;
  }
  
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

  